<header>
  <p>Место для логотипа</p>
  <nav>
    <ul>
      <li>
        <!-- тут должна быть ссылка на главную страницу
        Текст на ссылке: Главная -->
        <a href="{% url 'homepage:index' %}">Главная</a>
      </li>
      <li>
        <!-- тут должна быть ссылка на страницу со списком мороженного
        Текст на ссылке: Список мороженого -->
        <a href="{% url 'ice_cream:ice_cream_list' %}">Список мороженого</a>
      </li>
      <li>
        <!-- тут должна быть ссылка на страницу о проекте
        Текст на ссылке: О проекте --> 
        <a href="{% url 'about:description' %}">О проекте</a>
      </li>
    </ul>
  </nav>
</header>